.App {
  text-align: center;
}

.navbar i {
  font-size: 2rem;
} 

.beer-detail-image {
  height: 300px;
  width: 100px;
  margin: 2rem auto;
  padding: 0;
}

.beer-detail-content {
  padding: 2rem;
}

form {
  margin: 2rem;
}
